@mixin code {
    font-family: 'Code Pro Regular';
}

@mixin mons {
    font-family: 'Montserrat', sans-serif;
}

@mixin regular {
    font-weight: 400;
}

@mixin light {
    font-weight: 300;
}

@mixin sbold {
    font-weight: 600;
}

@mixin bold {
    font-weight: 800;
}

@font-face {
    font-family: 'Code Pro Regular';
    src: url('../fonts/Code-Pro.eot');
    src: url('Code-Pro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Code-Pro.woff') format('woff'),
    url('../fonts/Code-Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
