@mixin code {
    font-family: 'Source Code Pro', monospace;
}

@mixin mons {
    font-family: 'Montserrat', sans-serif;
}

@mixin regular {
    font-weight: 400;
}

@mixin sbold {
    font-weight: 600;
}

@mixin bold {
    font-weight: 800;
}
