@import fonts

*
    margin: 0
    padding: 0

.container
    max-width: 1820px/1920px*100%
    padding-left: 10px
    padding-right: 10px
    margin: 0 auto

body
    +code

    .header
        position: relative
        height: 100vh

        .header__nav
            background-color: rgba(0, 0, 0, 0.5)
            height: 80px
            position: fixed
            width: 100%

            .nav__content
                display: grid
                grid-template-columns: 50% 50%
                align-items: center
                margin-top: 10px
                
                img
                    max-width: 130px

                nav
                    ul
                        list-style: none
                        display: grid
                        grid-template-columns: repeat(4,1fr)
                        text-align: right
                        text-transform: uppercase

                        a
                            text-decoration: none
                            color: #ffffff
                            +regular
