@import fonts
@import keyframes
*
    margin: 0
    padding: 0
    scrollbar-color: #00FFE5
    scrollbar-width: none

.container
    max-width: 1300px/1440px*100%
    padding-left: 10px
    padding-right: 10px
    margin: 0 auto
    width: 100%

.bold
    +sbold

.fa
    font-size: 30px/16px*1em

.active
    color: #00FFE5 !important

.title
    font-size: 38px/16px*1em
    text-transform: uppercase
    color: #ffffff
    text-align: center

.subtitle
    +mons
    +light
    font-size: 20px/16px*1em
    justify-self: center
    color: #D3D3D3
    text-align: center
    max-width: 80%

.socials
    display: grid
    border: 2px solid #ffffff
    border-radius: 50px
    width: 70px
    height: 70px
    justify-items: center
    align-items: center
    text-decoration: none

a
    text-decoration: none

html
    min-height: 100vh

body
    +code
    font-size: 1em
    position: relative
    min-height: 100vh

    .header__nav
            background-color: rgba(22, 22, 22, 0.5)
            position: fixed
            width: 100%
            z-index: 100

            .nav__content
                display: grid
                grid-template-columns: 50% 50%
                align-items: center
                height: 70px

                a
                    align-self: center
                
                    img
                        max-width: 110px

                .fa-bars
                    grid-area: 1/2/2/3
                    justify-self: end
                    color: #ffffff
                    font-size: 14px

                .fa-bars:hover
                    color: #00FFE5
                    cursor: pointer

                .fa-times
                    grid-area: 1/2/2/3
                    font-size: 14px
                    color: #ffffff
                    z-index: 101
                    justify-self: end
                    margin-right: 5px
                
                .fa-times:hover
                    color: #00FFE5
                    cursor: pointer
                

                .burgerOff
                    display: none
                
                    
                nav
                    ul
                        list-style: none
                        display: flex
                        justify-content: space-around
                        text-align: right
                        text-transform: uppercase

                        a
                            text-decoration: none
                            color: #ffffff
                            +regular
                            font-size: 16px/16px*1em

                        a:hover
                            color: #00FFE5

    .header
        position: relative
        min-height: 100vh
        display: grid
        grid-template-columns: 50% 50%
        background: #ffffff
        overflow: hidden
        background-size: contain !important
        background-repeat: no-repeat !important
        background-position: bottom !important

        a
            text-decoration: none
            z-index: 3

            .fitness__choise__content
                position: relative
                display: grid
                width: 100%
                height: 100%
            
                .fitnes__to
                    z-index: 4
                    display: none
                    position: absolute
                    +bold
                    color: #000000
                    text-transform: uppercase
                    font-size: 44px/16px*1em
                    align-self: center
                    justify-self: center
                    text-align: center
                    max-height: 100%

                img
                    z-index: 2
                    max-width: 100%
                    width: 100%
                    max-height: 100vh
                    align-self: end
                
            .food__choise__content
                position: relative
                display: grid
                width: 100%
                height: 100%
            
                .food__to
                    z-index: 4
                    display: none
                    position: absolute
                    +bold
                    color: #000000
                    text-transform: uppercase
                    font-size: 44px/16px*1em
                    align-self: center
                    justify-self: center
                    text-align: center
                    max-height: 100%

                img
                    z-index: 2
                    max-width: 100%
                    width: 100%
                    max-height: 100vh
                    align-self: end

        a:hover
            position: relative
            background: rgba(255, 255, 255, 0.5)

            .opac
                opacity: 0.5
            
            .fitnes__to,.food__to
                display: block
                opacity: 1
                color: rgba(0, 0, 0, 0.8)
   
    .main
        box-sizing: border-box
        position: relative
        .about__me  
            background-color: #000000
            background-image: url(../img/aboutme.jpg)
            background-size: cover
            min-height: 100vh

            .about__me__content
                display: flex
                flex-direction: column
                grid-row-gap: 10px
                // grid-template-rows: auto 420px
                padding-top: 70px
                min-height: 100vh
                box-sizing: border-box
                color: #ffffff
                text-align: center

                // .top
                //     display: grid
                //     // grid-template-rows: 48px 20px 40px
                //     grid-template-rows: 40px 22px auto
                //     grid-row-gap: 10px
                //     color: #ffffff
                //     +code
                //     text-align: center

                .subtitle
                    margin: 10px auto 10px auto
                    
                .name
                    font-size: 14px/16px*1em
                    display: grid
                    grid-template-columns: 40% 20% 40%
                    align-items: center

                    .line
                        width: 20%
                        height: 1px
                        background-color: #ffffff
                    
                    .line:first-child
                        justify-self: end
                    
                    .line:last-child
                        justify-self: start
            
            .about__me__main
                display: grid
                grid-template-columns: 538px/1300px*100% 214px/1300px*100% 538px/1300px*100% 
                grid-column-gap: 10px/1800px*100% 
                justify-items: center
                align-self: end
                margin-top: auto
                margin: auto auto 0 auto
                width: 100%

                a
                    display: grid
                    border: 2px solid #ffffff
                    border-radius: 50px
                    width: 70px
                    height: 70px
                    justify-items: center
                    align-items: center
                    text-decoration: none

                .socials
                    box-sizing: border-box

                a:hover
                    border-color: #00FFE5

                    .fa
                        color: #00FFE5

                .button
                    width: 300px/538px*100%
                    height: 60px 
                    align-self: center
                    text-decoration: none
                    font-size: 23px/16px*1em
                    text-decoration: none
                    color: #ffffff

                .button:hover
                    border-color: #00ffe5
                    color: #00ffe5


                .top__socials
                    align-self: end
                    margin-bottom: 30px

                .bottom__socials
                    align-self: start
                    margin-top: 30px

                .fa
                    color: #ffffff
                    font-size: 30px/16px*1em

                .left
                    width: 100%
                    grid-area: 1/1/2/2
                    display: grid
                    // grid-template-rows: 146.5px 136.5px 80px
                    // grid-template-rows: 140px 140px 130px
                    justify-items: center
                    align-items: center

                .center
                    display: grid
                    width: 100%    
                    img
                        grid-area: 1/2/2/3
                        width: 100%
                        justify-self: center
                        align-self: end

                .right
                    width: 100%
                    grid-area: 1/3/2/4
                    display: grid
                    // grid-template-rows: 146.5px 136.5px 80px
                    // grid-template-rows: 140px 140px 130px
                    justify-items: center
                    align-items: center

        .zoom
            background-color: rgba(145, 144, 144, 0.5)
            display: grid
            grid-template-columns: 100px/1300px*100% 1100px/1300px*100% 100px/1300px*100%
            grid-template-rows: 10% 90%
            width: 100%
            height: 100vh
            position: fixed
            top: 0px
            z-index: 99


            .fa
                font-size: 48px/16px*1em
                color: #ffffff

            .prev,.next,.close
                display: grid
                align-items: center
                justify-items: center

            .prev:hover,.next:hover,.close:hover
                cursor: pointer

                .fa
                    color: #00ffe5

            .prev
                grid-area: 2/1/3/2
                width: 100%
                height: 100%
            
            img
                grid-area: 1/2/3/3
                max-width: 100%
                max-height: 100%
                align-self: center
                justify-self: center

            .next
                grid-area: 2/3/3/4
                width: 100%
                height: 100%


            .close
                grid-area: 1/3/2/4
                width: 100%
                height: 100%

                .fa
                    font-size: 30px/16px*1em


        .gallery__title
            background-color: #000000
            padding-top: 70px

            .gallery__title__main
                display: grid
                grid-template-rows: 48px auto 108px
                grid-row-gap: 15px

                .gallery__sub__food
                    font-weight: 600
                    color: #272727 

                .choise
                    display: grid
                    grid-template-columns: 50% 50%

                    a
                        text-decoration: none
                        color: #ffffff
                        font-size: 23px/16px*1em
                        text-transform: uppercase
                        align-self: center
                        justify-self: center
                    
                    a:hover
                        color: #00ffe5


        .gallery
            // grid-template-columns: repeat(4,1fr) !important
            // background-color: #ffffff      
            height: 100vh
            overflow: scroll
            overflow-x: hidden  
            background-color: #000000

            .gallery__fitnes
                width: 100%
                columns: 4
                column-gap: 0
                min-height: 100vh

            .gallery__food
                width: 100%
                columns: 4
                column-gap: 0
                min-height: 100vh

            img
                max-width: 100%
                height: auto
                display: block

            
            
            // .sizer4
            //     width: 25%

            // .grid__item
            //     float: left
            //     width: 100%
            //     height: auto

            // .item__food
            //     width: 100%

            
            img:hover
                opacity: 0.7
                cursor: pointer

        // a
        //     display: grid
        //     position: absolute
        //     z-index: 99
        //     justify-self: center
        //     align-self: end
        //     font-size: 2em
        //     text-decoration: none

        //     .fa-angle-down
        //         align-self: center
        //         justify-self: center
        //         font-size: 40px/16px*1em
        //         color: #009485

        // a:hover
        //     .fa-angle-down
        //         color: #04ffe6


        #contact
            background-color: #000000
            // padding-bottom: 70px
            min-height: 100vh

            .contact__main  
                display: flex
                flex-direction: column
                grid-row-gap: 38px
                box-sizing: border-box
                min-height: 100vh
                padding-top: 70px
                padding-bottom: 30px
                width: 100%

                .subtitle
                    margin: 0 auto

                #contact__form
                    margin: auto 0
                    position: relative
                    display: grid
                    
                    .fields
                        display: grid
                        grid-template-columns: 50% 50%
                        grid-template-rows: 60px 120px 20px 100px 60px
                        grid-row-gap: 30px
                        margin: auto auto 0 auto
                        max-width: 1206px
                        width: 100%

                    .input
                        border: 2px solid #ffffff
                        border-radius: 50px
                        height: 100%
                        background-color: rgba(255, 255, 255, 0)
                        text-align: center
                        +mons
                        color: #ffffff
                        font-size: 18px/16px*1em

                    .input__name
                        justify-self: start
                        width: 80%

                    .input__name:focus
                        border-color: #00ffe5
                        outline: 0
                        outline-offset: 0

                    .input__phone
                        justify-self: end
                        width: 80%

                    .input__phone:focus
                        border-color: #00ffe5
                        outline: 0
                        outline-offset: 0

                    .input__text
                        grid-area: 2/1/3/3
                        width: 100%
                        max-height: 100%
                        resize: none
                        padding: 10px
                        box-sizing: border-box
                        border-radius: 25px !important

                    .input__text:focus 
                        border-color: #00ffe5
                        outline: 0
                        outline-offset: 0

                    .submit__data
                        grid-area: 3/1/4/3
                        display: grid
                        grid-template-columns: 20px auto
                        grid-column-gap: 20px
                        align-items: center
                        justify-self: center

                        .check
                            width: 20px
                            height: 20px
                            align-self: center
                            justify-self: end
                            border-radius: 50%

                        p
                            color: #ffffff

                        a:hover
                            cursor: pointer

                    .contact__socials
                        grid-area: 4/1/5/3
                        display: grid
                        grid-template-columns: 50% 50%

                        .fa
                            font-size: 30px/16px*1em

                        .socials__mail
                            display: grid
                            grid-template-columns: 449px/650px*100% 210px/650px*100% 
                            align-items: center
                            color: #ffffff

                            .mail
                                font-size: 18px/16px*1em
                                justify-self: end
                                color: #ffffff

                            .mail:hover
                                color: #00ffe5

                        .socials
                            justify-self: center
                            color: #ffffff

                        .socials:hover
                            color: #00ffe5
                            border-color: #00ffe5

                        .socials__phone
                            display: grid
                            grid-template-columns: 210px/650px*100% 449px/650px*100%
                            align-items: center
                            color: #ffffff

                            .phone
                                font-size: 18px/16px*1em
                                justify-self: start
                                color: #ffffff
                            
                            .phone:hover
                                color: #00ffe5

                    #submit
                        grid-area: 5/1/6/3
                        background-color: rgba(255, 255, 255, 0)
                        border: 2px solid #ffffff
                        border-radius: 50px
                        width: 300px/1300px*100%
                        height: 100%
                        background-color: rgba(255, 255, 255, 0)
                        text-align: center
                        +mons
                        color: #ffffff
                        font-size: 18px/16px*1em
                        justify-self: center

                    #submit:hover
                        border-color: #00ffe5
                        color: #00ffe5
                        cursor: pointer

                    .note
                        position: absolute
                        display: grid
                        background: rgb(255, 255, 255)
                        align-self: center
                        justify-self: center
                        grid-row-gap: 20px
                        padding: 20px 0 20px 0
                        justify-items: center
                        color: #000000
                        border-radius: 110px

                        .title
                            color: #000000
                        
                        .subtitle
                            color: #303030
                        
                        .socials
                            border-color: #00ffe5
                            width: 50px
                            height: 50px

                        .fa
                            color: #00ffe5

    .politika
        z-index: 70
        background-color: rgb(255, 255, 255)
        position: fixed
        display: grid
        flex-direction: column
        max-height: 100vh
        top: 0
        

        i
            justify-self: end
            margin-right: 30px/1200px*100%
            margin-top: 20px
            font-size: 30px/16px*1em
            position: absolute

        i:hover
            cursor: pointer
            color: #00ffe5
        

        .politika__main
            max-height: 100vh
            overflow: scroll
            padding-top: 40px
            box-sizing: border-box

            .title
                color: #000000

            .soglashenie
                margin: 30px 0 0 20px
                box-sizing: border-box

                ol
                    display: grid
                    grid-row-gap: 20px
                    +mons
                    list-style: none 
                    counter-reset: li

                    .inner 
                        margin-left: 10px
                        margin-top: 10px
                        grid-row-gap: 10px

                    li:before 
                        counter-increment: li
                        content: counters(li,".") ". "

                        

                .bottom__text
                    margin-top: 30px
                    text-align: center
    
    .obrabotka
        z-index: 70
        background-color: rgb(255, 255, 255)
        position: fixed
        display: grid
        flex-direction: column
        max-height: 100vh
        top: 0

        i
            justify-self: end
            margin-right: 30px/1200px*100%
            margin-top: 20px
            font-size: 30px/16px*1em
            position: absolute

        i:hover
            cursor: pointer
            color: #00ffe5
        

        .obrabotka__main
            max-height: 100vh
            overflow: scroll
            padding-top: 40px
            box-sizing: border-box

            .title
                color: #000000

            .soglashenie
                margin: 30px 0 0 20px
                box-sizing: border-box

                ol
                    display: grid
                    grid-row-gap: 20px
                    +mons
                    

                    ul
                        display: grid
                        grid-row-gap: 30px
                        margin-top: 30px
                        margin-left: 20px

                .bottom__text
                    margin-top: 30px
                    text-align: center

        

    .footer
        height: 85px
        display: grid
        grid-template-rows: 50% 50%
        grid-row-gap: 5px

        .name
            color: #000000
            font-size: 14px/16px*1em
            align-self: end
            text-align: center

        a
            text-decoration: none
            color: #00ffe5
            text-transform: uppercase
            font-size: 0.55em
            align-self: start
            text-align: center

        a:hover
            cursor: pointer




                    

                            









                





